<launch>
    
    <!-- Map Server -->
    <arg name="map_file" default="$(find my_robot)/maps/house.yaml"/>
    <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

    <!-- AMCL Node -->
    <node name="amcl" pkg="amcl" type="amcl" output="screen">
        <remap from="scan" to="/scan"/> <!-- Might be an issue with the "to" value here -->
        <param name="odom_frame_id" value="odom"/>
        <param name="odom_model_type" value="diff-corrected"/>
        <param name="base_frame_id" value="robot_footprint"/>
        <param name="global_frame_id" value="map"/>

        <!-- AMCL Tuning Parameters -->
        <param name="min_particles" value="100" /> <!-- Default: 100 particles -->
        <param name="max_particles" value="5000" /> <!-- Default: 5000 particles -->
        <param name="initial_pose_x" value="0.0" /> <!-- Default: 0.0 meters -->
        <param name="initial_pose_y" value="0.0" /> <!-- Default: 0.0 meters-->
        <param name="initial_pose_a" value="1.57" /> <!-- Default: 0.0 radians -->
        <param name="update_min_a" value="0.2" /> <!-- Default: 0.2 meters -->
        <param name="update_min_d" value="0.52359878" /> <!-- Default: PI / 6.0 radians -->

        <param name="laser_model_type" value="likelihood_field" /> <!-- Default: likelihood_field -->
        <param name="laser_min_range" value="-1.0" /> <!-- Default: -1.0 (uses laser's reported min range) -->
        <param name="laser_max_range" value="-1.0" /> <!-- Default: -1.0 (uses laser's reported max range) -->
        <param name="laser_max_beams" value="30" /> <!-- Default: 30 -->
        <param name="laser_z_hit" value="0.95" /> <!-- Default: 0.95 -->
        <param name="laser_z_rand" value="0.05" /> <!-- Default: 0.05 -->

        <param name="odom_alpha_1" value="0.2" /> <!-- Default: 0.2 -->
        <param name="odom_alpha_2" value="0.2" /> <!-- Default: 0.2 -->
        <param name="odom_alpha_3" value="0.2" /> <!-- Default: 0.2 -->
        <param name="odom_alpha_4" value="0.2" /> <!-- Default: 0.2 -->

    </node>

    <!-- Move Base Node -->
    <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
        <remap from="scan" to="/scan"/> <!-- Might be an issue with the "to" value here -->
        <param name="base_global_planner" value="navfn/NavfnROS" />
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>

        <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find my_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find my_robot)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_robot)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find my_robot)/config/base_local_planner_params.yaml" command="load" />
    </node>

</launch>